body {
    margin-top: 300px;
    text-align: center;
    background: silver;
}
#clock {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 80px;
    color: white;
}
.colon{
    color: black;
}